<!-- header.ejs -->
<header style="background: black; 
                color: white;
                display:flex; 
                width: 100%;
                height: auto;
                margin: 0px;
                padding: 0px;
                position : fixed;
                justify-items: first baseline;
            ">
    <!-- Title -->
    <h1 style="padding-left: 25vh;font-weight: 100;"><%= heading %></h1> 
    <div class="search" style="padding-right: 5vh;padding-left:50%; position: relative;">
       
</header>