 <body>
 <!-- Right Container -->
 <div class="right-panel" style="  width: 50%;
 background-color: #969595;
 padding: 20px;
 box-sizing: border-box; overflow-y: auto;
            position: fixed;
            top: 11%;
            right: 0;
            height: 100%;"> 
    <!-- Content for right panel -->
    <div class="pic">
        <div class="circle" style="width: 200px;height: 200px;border: 2px solid #808080;border-radius: 50%;background-color: #fff;position: relative;top: 20px;right: -270px;">
            <h1><img src="https://clipground.com/images/contact-logo-png-15.png" style="width: 195px;height: 190px;"> </h1>
        </div>

        <div class="container2" style="background-color: #fff;padding: 20px;border-radius: 8px;box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);margin-top: 55px;">
            <div class="form-group">
                <form action="/process" method="post">
                    <label for="name">Name:</label>
                    <input type="text" class="name" id="name" name="name" placeholder="Enter your name">
            </div>
            <div class="form-group">
                <label for="phone">Phone No:</label>
                <input type="text" id="phone" name="phone" placeholder="Enter your phone number">
            </div>
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="text" id="email" name="email" placeholder="Enter your email address">
            </div>
            <button class="circle-button" type="submit">ADD</button>

            </form>
            <button class="circle-button">Delete</button>
        </div>
    </div>
</div>
</body>